body{
	background-image: url('../imagen/fondo.jpg');

}

.degrade{
background: rgba(74,74,74,1);
background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 0%, rgba(36,36,36,1) 0%, rgba(15,15,15,1) 0%, rgba(61,61,61,1) 0%, rgba(0,0,0,1) 0%, rgba(87,87,87,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.67) 49%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(0%, rgba(23,23,23,1)), color-stop(0%, rgba(36,36,36,1)), color-stop(0%, rgba(15,15,15,1)), color-stop(0%, rgba(61,61,61,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(87,87,87,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(36,36,36,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(49%, rgba(0,0,0,0.67)));
background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 0%, rgba(36,36,36,1) 0%, rgba(15,15,15,1) 0%, rgba(61,61,61,1) 0%, rgba(0,0,0,1) 0%, rgba(87,87,87,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.67) 49%);
background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 0%, rgba(36,36,36,1) 0%, rgba(15,15,15,1) 0%, rgba(61,61,61,1) 0%, rgba(0,0,0,1) 0%, rgba(87,87,87,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.67) 49%);
background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 0%, rgba(36,36,36,1) 0%, rgba(15,15,15,1) 0%, rgba(61,61,61,1) 0%, rgba(0,0,0,1) 0%, rgba(87,87,87,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.67) 49%);
background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(23,23,23,1) 0%, rgba(36,36,36,1) 0%, rgba(15,15,15,1) 0%, rgba(61,61,61,1) 0%, rgba(0,0,0,1) 0%, rgba(87,87,87,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.67) 49%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#000000', GradientType=0 );
overflow: hidden;
   width: auto;
   height: auto;

}


header{
	background-color: black;
	color: white;
	
}


header nav ul {
	list-style-type:none;
	text-align: center;
}
header nav ul li{
	display: inline;
	text-align: center;
	
	margin: 30px;

}
header nav ul li a{
	color: #666366;
	text-decoration: none;
}
header nav ul li a:hover{
	color:white;

}

/*tama;o de imagenes*/

main div a img{
float: left;
margin-top: 20px;
margin-left: 40px;
margin-bottom: 40px;

}

main div a img:hover{
	transform: scale(1.2);
}

footer{
	overflow: hidden;
	background-color: black;
	color: white;
	text-align: center;
	height: 100px;
  	bottom: 0;
	

}
